body{
    
    margin: 0;
    padding: 0;
    /* animation: bgcolor infinite 20s; */
}
/* -----------------------------------Navbar---------------------------------------- */
.navbar-brand
{
    font-size: 32px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.navbar-brand:hover
{
    color: tomato !important;
}
.nav-link
{
    color: white !important;
    font-size: 17px !important;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link:hover
{
    border: 1px solid white !important;
    font-weight: bold;
    color: orangered !important;
}
.dropdown-item:hover
{
    color: white !important;
    background-color: orangered !important;
}
.fa-shopping-cart
{
    margin-right: 5px !important;
}

/* -----------------------------------------slider css------------------- */
.slider{
    width: 95%;
    margin-top: 7%;
    margin-left: 33px;
    padding: 0 10px;
}
.carousel{
    box-shadow: 2px 2px 4px 5px rgba(0, 0,0, 0.5);
}
.carousel-indicators{
    z-index: 1 !important;
}
@media only screen and (max-width: 980px)
{
    .slider{
        margin-top: 90px;
        width: 100%;
        margin-left: 0;
    }
}

/* -------------------------featured-categories------------------------------ */
.featured-categories
{
    margin: 50px 0;
   
}
.featured-categories img
{
    
    width: 90%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover
{
    transform: scale(1.1);
}
@media only screen and (max-width: 980px)
{
    .featured-categories
    {
        margin-top: -100px !important;
        margin: 50px;
    }
    .featured-categories img
    {
        width: 100%;
        transition: 0.5s;
    }
}
/* --------------------------------On Sale Products------------------------- */
.title-box
{
    background: darkorange;
    color: white;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2
{
    font-size: 24px;
}
.title-box::after
{
    content: '';
    border-top: 40px solid darkorange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}
@media only screen and (max-width: 980px)
{
    .on-sale
    {
        margin-top: -50px !important;
    }
    .product-top img
    {
        height: 70%;
        width: 50% !important;
        margin-left: 90px !important;
    }
}
/* ------------------------product-top------------------------ */
.product-top img
{
    height: 80%;
    width: 80%;
    margin-left: 25px;

}
.overlay-right
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;

}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: black;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary
{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
@media only screen and (max-width: 980px)
{
    .new-products
    {
        margin-top: -50px !important;
    }
}
/* ------------------------Product bottom css */
.product-bottom .fa
{
    color: darkorange;
    font-size: 10px;
}
.product-bottom h3
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 10px;
}
.new-products
{
    margin: 50px 0;
}
/* -------------------------------website-features--------------------------- */
.website-features
{
    margin: 60px 0;
    background-color: yellow;
}
.website-features img
{
    width: 20%;
}
.feature-text
{
    margin-top: 6px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box
{
    padding-top: 20px;
}
@media only screen and (max-width: 980px)
{
    .website-features img
    {
        width: 12% !important;
    }
    .feature-text
    {
        padding-left: 3px !important;
    }
    .website-features
    {
        margin-top: -100px !important;
    }
}
/* ---------------------------------footer-------------------------------------- */
.footer
{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1
{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 25px 0;
}
.footer p
{
    font-size: 17px;
}
.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: sans-serif;
}
.fa-copyright
{
    padding: 5px;
    color:white;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background-color: #ccc;
}
.footer image img
{
    width: 150px;
}
.footer .row .fa
{
    padding-right: 10px;
    font-size: 15px;
}
.fa-facebook-official
{
    color: #0099FF;
}
.fa-youtube-play
{
    color: red;
}
.fa-linkedin
{
    color: royalblue;
}
.fa-twitter
{
    color:  #0099FF;
}
@media only screen and (max-width: 980px)
{
    .footer
    {
        margin-top: -100px !important;
    }
}
/* -----------------------------------single-product------------------------------------- */
.single-product
{
    margin-top: 70px;
}
.new-arrival
{
    background: darkorchid;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.col-md-7 h2
{
    color: #555;
}
.single-product .fa
{
    color: orange;
}
.single-product .price
{
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product .btn-primary
{
    background: orange !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;

}
.product-description
{
    margin-left: 120px;
    margin-right: 120px;
}
.product-description h6
{
    margin-top: 50px;
    color: orange;
}
.product-description p
{
    text-align: justify;
    margin-top: 30px;
}
.product-description hr
{
    margin-bottom: 50px;
    
}
/* -----------------------------------login----------------------------- */


@import url('https://fonts.googleapis.com/css?family=Numans');

.body-1{
background-image: url('https://i.pinimg.com/736x/57/84/86/5784864a479ab401258845ec3b479efa.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
margin-top: 140px !important;
height: 100% !important;
align-content: center !important;
}

.card{
height: 370px !important;
margin-top: auto !important;
margin-bottom: auto !important;
width: 400px !important;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px !important;
margin-left: 10px !important;
color: orangered !important;
}

.social_icon span:hover{
color: white !important;
cursor: pointer !important;
}

.card-header h3{
color: white !important;
}

.social_icon{
position: absolute !important;
right: 20px !important;
top: -45px !important;
}

.input-group-prepend span{
width: 50px !important;
background-color: orangered !important;
color: black !important;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white !important;
}

.remember input
{
width: 20px !important;
height: 20px !important;
margin-left: 15px !important;
margin-right: 5px !important;
}

.login_btn{
color: black !important;
background-color: orangered !important;
width: 100px !important;
}

.login_btn:hover{
color: black !important;
background-color: white !important;
}

.links{
color: white !important;
}

.links a{
margin-left: 4px !important;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
